<div mat-dialog-title style="display:flex;justify-content:space-between">
  <p class="lead" *ngIf="NotBetweenAccount == data.transactionType">Make transaction</p>
  <p class="lead" *ngIf="BetweenAccount == data.transactionType">Make transaction to other account</p>
  <p class="lead" *ngIf="Recipient == data.transactionType">Add recipient</p>
  <p class="lead" *ngIf="RecipientDelete == data.transactionType">Delete recipient</p>
  <p class="lead" *ngIf="Appointment == data.transactionType">Add appointment</p>
  <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-06-223557/theme/html/demo1/dist/../src/media/svg/icons/Navigation/Close.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
            <rect x="0" y="7" width="16" height="2" rx="1"/>
            <rect opacity="0.3" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000) " x="0" y="7" width="16" height="2" rx="1"/>
        </g>
    </g>
</svg><!--end::Svg Icon--></span>
</div>
<mat-dialog-content class="mat-typography">
  <p class="lead" *ngIf="RecipientDelete == data.transactionType">Confirm Recipient Deletion ?</p>
  <form class="form" [formGroup]="data.transactionForm" *ngIf="NotBetweenAccount == data.transactionType">
    <div class="form-group">
      <select class="form-control" name="transactionType" [formControlName]="'transactionType'">
        <option value="">Please select a transaction type</option>
        <option value="{{Deposit}}">Deposit</option>
        <option value="{{Withdraw}}">Withdraw</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" name="accountType" [formControlName]="'accountType'">
        <option value="">Please select an account</option>
        <option value="Primary">Primary</option>
        <option value="Savings">Savings</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [formControlName]="'description'"  name="description" placeholder="Description">
    </div>
    <div class="form-group">
      <input type="number" class="form-control" [formControlName]="'amount'"  name="amount" placeholder="Please specify the amount">
    </div>
  </form>
  <form class="form" [formGroup]="data.transactionFormBetween" *ngIf="BetweenAccount == data.transactionType">
    <div class="form-group">
      <select class="form-control" name="accountType" [formControlName]="'accountType'">
        <option value="">Please select an account</option>
        <option value="Primary">Primary</option>
        <option value="Savings">Savings</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [formControlName]="'accountNumberToTransfer'"  name="accountNumberToTransfer" placeholder="Account Number To Transfert to">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [formControlName]="'description'"  name="description" placeholder="Description">
    </div>
    <div class="form-group">
      <input type="number" class="form-control" [formControlName]="'amount'"  name="amount" placeholder="Please specify the amount you would like to transfert:">
    </div>
  </form>
  <form class="form" [formGroup]="data.recipientForm" *ngIf="Recipient == data.transactionType">
    <div class="form-group">
      <input type="text" class="form-control" [formControlName]="'name'"  name="name" placeholder="Name">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" [formControlName]="'email'"  name="email" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [formControlName]="'phone'"  name="phone" placeholder="Phone">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [formControlName]="'accountNumber'"  name="accountNumber" placeholder="Account Number">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [formControlName]="'description'"  name="description" placeholder="Description">
    </div>
  </form>
  <form class="form" [formGroup]="data.appointmentForm" *ngIf="Appointment == data.transactionType">
    <div class="form-group">
      <input type="datetime-local" class="form-control" [formControlName]="'date'"  name="date" placeholder="Date">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [formControlName]="'location'"  name="location" placeholder="Location">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [formControlName]="'description'"  name="description" placeholder="Description">
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions style="display:flex; justify-content:center">
  <button [mat-dialog-close]="true" type="button" class="btn btn-primary btn-lg">Save</button>
  <button mat-dialog-close type="button" class="btn btn-secondary btn-lg" style="margin-left: 20px;">Cancel</button>
</mat-dialog-actions>
