<body class="theme-blue">
<div id="wrapper">
  <div class="vertical-align-wrap">
    <div class="vertical-align-middle auth-main">
      <div class="auth-box">
        <div class="top">
          <img src="http://www.wrraptheme.com/templates/lucid/html/assets/images/logo-white.svg" alt="Lucid">
        </div>
        <div class="card">
          <div class="header">
            <p class="lead">Create an account</p>
          </div>
          <div class="body">
            <form class="form" [formGroup]="signupForm" (ngSubmit)="signup()">
              <div class="form-group">
                <input type="text" class="form-control" [formControlName]="'lastName'" name="lastName" placeholder="Your lastName">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" [formControlName]="'firstName'" name="firstName" placeholder="Your firstName">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" [formControlName]="'phone'" name="phone" placeholder="Your phone">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" [formControlName]="'email'" name="email" placeholder="Your email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" [formControlName]="'username'" name="username" placeholder="Your username">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" [formControlName]="'password'" placeholder="Password" name="password" placeholder="Your password">
              </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">REGISTER</button>
              <div class="bottom" style="margin-top:10px;">
                <span class="helper-text">Already have an account? <a routerLink="/login">Login</a></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
