<tr>
  <td class="pl-0">
    <span class="text-muted font-weight-bold d-block">{{transaction?.date | date:'fullDate'}}</span>
  </td>
  <td class="pl-0">
    <span class="text-muted font-weight-bold d-block">{{transaction?.description}}</span>
  </td>
  <td class="pl-0">
    <span class="text-muted font-weight-bold">
      <span class="label {{transaction?.type == Deposit?'label-success':'label-warning' }} label-inline mr-2">{{transaction?.type | titlecase}}</span>
    </span>
  </td>
  <td class="pl-0">
    <span class="text-muted font-weight-bold">{{transaction?.amount | number:'1.0':'en-US'}}</span>
  </td>
  <td class="pl-0">
    <span class="text-muted font-weight-bold">{{transaction?.availableBalance | number:'1.0':'en-US'}}</span>
  </td>
</tr>
